@import "./element-variables";
@import "~element-ui/packages/theme-chalk/src/index";

.el-tabs__header {
    margin: 0;
}

.el-tabs__content {
    margin: 0;
    border: solid 1px #e6e6e6;
    border-top: none;
    padding: 10px;
}

.el-menu-item {
    text-align: right;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
}

.el-submenu {
    padding: 0 0px;
}

.el-submenu .el-menu-item {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
}

.el-submenu__title {
    height: 40px;
    line-height: 40px;
}

.is-active > .el-submenu__title {
    background-color: $--actived--menu-item-fill;
}

.el-menu-item.is-active {
    //border-right: 2px solid $--color-primary;
    background-color: $--actived--menu-item-fill;
    font-weight: 600;
    color: $--color-text-primary;
}

.el-submenu__title i {
    color: $--color-text-primary;
}

.el-submenu__title span {
    margin-left: 15px;
}

.el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.el-submenu > .el-submenu__title .el-submenu__icon-arrow {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.el-collapse-item__header {
    color: $--color-primary;
    font-weight: bold;
}

.el-form-item__label {
    font-size: 12px;
}

.el-collapse,
.el-collapse-item__header,
.el-collapse-item__wrap {
    border-top: none;
    border-bottom: 0.5px dashed #e6e6e6;
}

// table 表格外边框
.el-table {
    border: 1px solid #ebeef5;
}

.el-collapse-item__arrow {
    float: none;
}

.el-table thead {
    color: #000000;
}

.el-table th {
    background-color: #f3f3f3;
    // text-align: center;
}

.table-row {
    margin-top: 18px;
}

// 列表顶部按钮样式
.el-row .button-top-row {
    margin-bottom: 10px;
}

.el-row .button-top-row .el-dropdown {
    padding: 7px 10px;
}

.el-row .button-top-row .el-dropdown-first {
    padding: 7px 10px 7px 0px;
}

// 详情页按钮位置
.el-row .button-bottom-row {
    margin: 18px 0;
}

.el-row > .el-pagination,
.el-tab-pane > .el-pagination {
    margin-top: 10px;
}

.search-row .el-form-item {
    margin-bottom: 5px;
}

.search-row .el-input,
.search-row .el-select {
    width: 178px;
    margin-right: 10px;
    font-size: 12px;
}

.search-row .el-input__inner {
    height: 28px;
    line-height: 28px;
}

.search-row .el-button {
    height: 28px;
    padding: 7px 15px;
}

.search-row label {
    float: none;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    font-size: 12px;
    color: #606266;
    line-height: 35px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.el-form-item__content {
    color: #606266;
}

// .details-row 详情页展示专属样式
.details-row .el-col {
    margin-bottom: 18px;
    padding-left: 20px;
}

.details-row .el-col > label {
    font-size: 12px;
    line-height: 32px;
    color: #606266;
}

.details-row .el-col > span {
    font-size: 12px;
    color: #606266;
}

.el-row .box-card {
    font-size: 14px;
    border: 0;
}

.el-row .el-card__header,
.el-row .el-card__body {
    padding: 10px 20px;
}

.table-card .el-card__body {
    padding: 5px;
}

.box-card .el-card__header {
    color: $--color-primary;
    padding: 10px 0;
    font-weight: bold;
}

.box-card .el-card__body {
    color: $--color-primary;
    padding: 10px 0;
    font-weight: bold;
}

.img-radius img {
    border-radius: 50%;
}

// 客户详情头像
.img-radius--customer img {
    width: 150px;
    height: 150px;
}

.el-card .rack {
    display: flex;
}

.rack + .rack {
    padding-left: 15px;
}

.el-card .rack .icon {
    padding: 15px;
    background-color: #6cd2e9;
    text-align: center;
}

.el-card .rack .icon i {
    color: white;
    font-weight: bold;
    font-size: 38px;
}

.el-card .rack .text {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: #f3f3f3;
}

.el-card .rack .text span {
    display: block;
}

.el-card .rack .text .num {
    font-weight: bold;
    font-size: 14px;
    padding-top: 15px;
}

.el-footer {
    line-height: 23px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #606266;
    font-size: 12px;
}

.el-radio__label {
    font-size: 12px;
    padding-left: 5px;
    font-weight: 400;
}

.el-radio + .el-radio {
    margin-left: 15px;
}

.el-collapse-item__content {
    padding-bottom: 0px;
}

.el-message {
    top: 35%;
}

.el-row .titie {
    color: #409eff;
    font-weight: bold;
    border-top: none;
    border-bottom: 0.5px dashed #e6e6e6;
    background-color: #fff;
    font-size: 13px;
    outline: none;
    margin-bottom: 21px;
    padding-bottom: 5px;
}
.el-tree-node__content {
    height: 38px;
}
.custom-tree-node {
    line-height: 38px;
}
