@page
@model Example.Applications.Web.Pages.Index

<div class="edit" data-num="1">
@Model.Title
</div>

<div class="edit">
    <p>123</p>
    <p>456</p>
    <p>789</p>
    <p>123</p>
    <div class="mask" style="float: right;
                    top: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    ">
        
            <div class="icon" style="float: right;
                            top: 0;
                            right: 0;
                            position: absolute;">
                Test
            </div>
        
    </div>
</div>